<!-- Main Content -->
<div id="mail-archiver-container">
  <!-- Date Picker -->
  <div id="header-bar">
    <mat-form-field id="calender-bar" appearance="none">
      <mat-label></mat-label>  
      <mat-date-range-input id="calender-range" [formGroup]="range" [rangePicker]="picker">
        <input matInput matStartDate formControlName="start" placeholder="Start date" (dateChange)="filterValues()">
        <input matInput matEndDate formControlName="end" placeholder="End date" (dateChange)="filterValues()">
      </mat-date-range-input>
      <mat-datepicker-toggle matPrefix [for]="picker"><img id="calender-picker" matDatepickerToggleIcon src="../assets/img/icon_calender.svg"/></mat-datepicker-toggle>
      <mat-date-range-picker #picker disabled="false"></mat-date-range-picker> 
    </mat-form-field>
    <!-- Search Bar -->
    <mat-form-field [ngClass]="searchToggle ? 'show' : 'hide'" id="search-bar" floatLabel="never" appearance="none">
      <!--<mat-label></mat-label>-->
      <input matInput (keyup)="filterValues()" placeholder="Search" [formControl]="textFilter">
    </mat-form-field>
    <button mat-flat-button (click)="toggleSearchBar()">
      <img id="search-button" src="../assets/img/icon_search.svg"/>
    </button>
  </div>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  <!-- Email Count -->
  <div id="email-count">
    <p>Results: <b>{{filteredData.length}}</b> mail(s) </p>
  </div>
  <!-- Email List Header -->
  <mat-list role="list" >
    <mat-divider></mat-divider>
    <mat-list-item *ngIf="filteredData && filteredData.length"  id="email-list-header" role="listitem">
      <div class="email-header-container">
        <div class="email-from-address" [ngClass]="{'bold-column': sortToggleCheck['from']}" (click)="toggleSort('from')">
            From
            <span *ngIf="sortToggleCheck['from'] == 2" class="up-arrow"><img src="../assets/img/icon_arrow01.svg"></span>
            <span *ngIf="sortToggleCheck['from'] == 1" class="down-arrow"><img src="../assets/img/icon_arrow01.svg"></span>
        </div>
        <div class="email-to-address" [ngClass]="{'bold-column': sortToggleCheck['to']}" (click)="toggleSort('to')">
            To
            <span *ngIf="sortToggleCheck['to'] == 2" class="up-arrow"><img src="../assets/img/icon_arrow01.svg"></span>
            <span *ngIf="sortToggleCheck['to'] == 1" class="down-arrow"><img src="../assets/img/icon_arrow01.svg"></span>
        </div>
        <div class="email-subject" [ngClass]="{'bold-column': sortToggleCheck['subject']}" (click)="toggleSort('subject')">
            Subject
            <span *ngIf="sortToggleCheck['subject'] == 2" class="up-arrow"><img src="../assets/img/icon_arrow01.svg"></span>
            <span *ngIf="sortToggleCheck['subject'] == 1" class="down-arrow"><img src="../assets/img/icon_arrow01.svg"></span>
        </div>
        <div class="email-date" [ngClass]="{'bold-column': sortToggleCheck['date']}" (click)="toggleSort('date')">
            <span>&nbsp;&nbsp;</span>
            Date
            <span *ngIf="sortToggleCheck['date'] == 2" class="up-arrow"><img src="../assets/img/icon_arrow01.svg"></span>
            <span *ngIf="sortToggleCheck['date'] == 1" class="down-arrow"><img src="../assets/img/icon_arrow01.svg"></span>
        </div>
      </div>
      </mat-list-item>
    <mat-divider></mat-divider>
    <!-- Email List -->
    <mat-list-item *ngFor="let data of filteredData" id="email-list-item" role="listitem">
      <div class="email-container">
        <div class="email-image"><img src="../assets/img/icon_mail_sp.svg"/></div>
        <div class="email-from-address" [ngClass]="{'bold-column': sortToggleCheck['from']}"><p>{{data.from}}</p></div>
        <div class="email-to-address" [ngClass]="{'bold-column': sortToggleCheck['to']}"><p>{{data.to}}</p></div>
        <div class="email-reply-count"><p *ngIf="data.reply">+{{data.reply.length}}</p></div>
        <div class="email-subject" [ngClass]="{'bold-column': sortToggleCheck['subject']}"><p>{{data.subject}}</p></div>
        <!-- Date Pipe -->
        <div class="email-date" [ngClass]="{'bold-column': sortToggleCheck['date']}">
          <img *ngIf="data.attachment" src="../assets/img/icon_clip.svg">
          <span *ngIf="!data.attachment">&nbsp;</span>
          {{data.date | customDate}}
        </div>
        <div class="email-arrow">
          <img src="../assets/img/icon_arrow02.svg">
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <!-- Logo Image -->
  <div id="logo-image" *ngIf="!filteredData || !filteredData.length">
    <img src="../assets/img/logo.png">
  </div>

<!-- End Container -->
</div>