@import '../styles.scss';
#mail-archiver-container {
  padding: 10%;
}
#calender-picker {
  width: 70%;
  height: auto;
}
#calender-bar {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}
#header-bar {
  display: flex;
  & > button {
    height: auto;
    width: 100%;
    max-width: 70px;
    padding: 0;
    background-color: theme-color('background', 'header');
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    border: 1px solid #333333;
  }
}
#search-bar {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transition: all 0.15s ease-in-out;
}
#search-button {
  width: 30%;
  height: auto;
}
.show {
  max-width: 400px;
  border-left: 1px solid #333333;
}
.hide { 
  max-width: 0;
  border-left: 0;
}
/* ----------------------------- */
/* ------ Email Container ------ */
/* ----------------------------- */
#email-list-header {
  background-color: theme-color('background', 'header');
}
#email-list-item {
  &:hover {
    color: theme-color('text', 'link');
    background-color: theme-color('background', 'email');
  }
}
.email-header-container {
  @extend .email-container;
}
.email-container {
  & div {
    max-width: 100%;
  }
  & div p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: minmax(0,2fr) minmax(0,2fr) minmax(0,1fr) minmax(0,5fr) minmax(0,1fr) minmax(0,2fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "from-address to-address reply-count subject attach date";
}
.email-image {
  display: none;
  grid-area: email-image;
}
.email-from-address {
  grid-area: from-address;
}
.email-to-address {
  grid-area: to-address;
}
.email-reply-count {
  grid-area: reply-count;
  justify-self: center;
}
.email-attachment {
  grid-area: attach;
  justify-self: center;
  text-align: center;
  & img {
    width: 25%;
  }
}
.email-subject {
  grid-area: subject;
}
.email-date {
  grid-area: date;
}